---
import { parse, isBefore } from 'date-fns';
import {
	Container,
	TextCardSection,
	BlogPostsList,
} from '@components/odyssey-theme';
import Layout from '../../layouts/Page.astro';
import NewsletterForm from '../../components/forms/NewsletterForm.astro';

const posts = await Astro.glob('./posts/*.mdx').then(posts =>
	posts
		.map(({ frontmatter, url }) => ({
			title: frontmatter.title,
			description: frontmatter.description,
			authors: frontmatter.authors,
			publishDate: parse(frontmatter.publishDate, 'MMMM d, yyyy', new Date()),
			featuredImage: frontmatter.featuredImage,
			excerpt: frontmatter.excerpt,
			href: url,
		}))
		.sort((a, b) => {
			if (isBefore(a.publishDate, b.publishDate)) return 1;
			if (isBefore(b.publishDate, a.publishDate)) return -1;
			return 0;
		})
);

const seo = {
	title: 'Blog',
	description: 'Blog | Jonghoon Lee',
};
---

<Layout {seo}>
	<Container>
		<section class="blog-posts-list__section">
			<h2>Recent Posts</h2>
			<BlogPostsList posts={posts} />
		</section>
	</Container>
</Layout>


<style>
    /* General Section Styling */
    .blog-posts-list__section,
    .research-page {
        max-width: 1440px;
        margin: 1rem auto;
        padding: 3rem;
    }

    /* Blog Posts List Section */
    .blog-posts-list__section h2 {
        font-size: 2rem;
        margin-bottom: 1.5rem;
        text-align: left;
    }
</style>