---
import Container from '../core/Container.astro';

const {narrow} = Astro.props;
---

<Container narrow={narrow}>
  <section class="text__section">
    <slot></slot>
  </section>
</Container>

<style>
  .text__section {
    margin: var(--section-margin) auto;
    padding: 1.5rem;
    background-color: #f0f0f0; /* Light gray color */
    border-radius: 24px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
</style>