---
import { Icon } from 'astro-icon/components';
import {
	Button,
	StickyTextImageSection,
} from '@components/odyssey-theme';
import Layout from '../layouts/Page.astro';

const seo = {
	title: 'About',
	description: 'About Me | Jonghoon Lee',
};
---

<Layout {seo}>
	<StickyTextImageSection>
		<div slot="text-container" style="margin-left: 2rem; line-height: 1.8;">
			<h2 style= "font-size: 2rem;">Welcome</h2>
			<p>
				I’m a Postdoctoral Fellow in 
				<a href="https://www.astate.edu/college/liberal-arts/departments/government-law-and-policy/" target="_blank" rel="noreferrer">
					the Department of Government, Law & Policy</a>
				at 
				<a href="https://www.astate.edu/" target="_blank" rel="noreferrer">
					Arkansas State University</a>
				I will be joining 
				<a href="https://www.tse.nthu.edu.tw/" target="_blank" rel="noreferrer">
					the Taipei School of Economics and Political Science</a>
				at 
				<a href="https://nthu-en.site.nthu.edu.tw/" target="_blank" rel="noreferrer">
					National Tsing Hua University</a>
				as an Assistant Professor in August 2026.
			</p>
			<p>
				My research interests include political economy, political institutions, 
				bureaucratic politics and judicial politics in both American and Comparative Politics. 
				Specifically, I study how different types of political elites interact with 
				one another to pursue their interests and how these strategic interactions 
				shape public administration and public policy outcomes. 
				My work has been invited for publication at the Journal of Theoretical Politics, 
				Business and Politics, and Social Science Quarterly.
			</p>
			<p>
				My dissertation, titled “Initiating Justice: The Role of Judicial Institutions in 
				the Pursuit of Democratic Accountability,” comprises three papers in which I investigate 
				the conditions that prompt the initiation of trials against the “untouchables.” 
				For this project, I received both the Charles H. Gregory Class of ‘64 Graduate Strategic Fellowship 
				and the College of Liberal Arts Summer Dissertation Fellowship funded by Texas A&M.
			</p>
			<p>
				I earned my Ph.D. in Political Science from Texas A&M University in 2024, 
				and completed dual B.A. degrees in Philosophy & Political Science and International Relations at Korea University in 2016.
			</p>
		</div>
		<div slot="btns-container" style="margin-left: 2rem;">
			<Button href="mailto:jolee@astate.edu">
					<Icon name="ic:baseline-mail" />
			</Button>
		</div>
		<picture slot="image-container" style="margin-left: 2rem;">
			<img
			  src="/assets/images/landing-1/Jonghoon_Headshot.jpg"
			  alt="Astro Odyssey"
			  loading="lazy"
			/>
		</picture>
	</StickyTextImageSection>
</Layout>
